<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>        <!-- Console Appender -->
        <File name="FileLogger" fileName="logs/info.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %c{1} - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>        <!-- Root Logger -->
        <Root level="DEBUG"><!--           <AppenderRef ref="Console" />-->
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>
</Configuration>